.contactsBlock {
    height: 100vh;
    background-color: #7548a6;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.form {
    border: 1px solid;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}