.contactsBlock {
    height: 20vh;
    background-color: #589639;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #eeeef5;
}

.form {
    border: 1px solid;
    display: flex;
   justify-content: space-between;
    height: 30px;
    width: 200px;
    flex-wrap: wrap;
}
